body{
    background-color: black;
}

a.hidden{display:none;}



.backgrounddiv img{
    width: 100vw;
    z-index:1;
}

.screensdiv img{
    filter: grayscale(100%);
    cursor: pointer;
    opacity: 1;
    transition: all 0.75s ease-in-out;
    color: white;
    z-index: 2;
}

.screensdiv :hover{
    opacity: 1;
    filter: grayscale(0%);
}



#thesis img{
    width: 13.6vw;
    left:30vw;
    position: absolute;
    top:24vw;
    z-index:2;
}

#ccdiv img{
    width: 15vw;
    left:3.2vw;
    position: absolute;
    top:24.25vw;
    z-index:2;
}

#archdiv img{
    width: 13.8vw;
    left:29.1vw;
    position: absolute;
    top:42.4vw;
    z-index:2;
}

#georgiadiv img{
    width: 15vw;
    left:80.4vw;
    position: absolute;
    top:23.4vw;
    z-index:2;
}

#glitchdiv img{
    width: 13.8vw;
    left:78.7vw;
    position: absolute;
    top:42.2vw;
    z-index:2;
}

#mosquediv img{
    width: 14vw;
    left:53.8vw;
    position: absolute;
    top:22.6vw;
    z-index:2;
}

#immersiondiv img{
    width: 14.4vw;
    left:78.5vw;
    position: absolute;
    top:6.1vw;
    z-index:2;
}

#leancreekdiv img{
    width: 14.78vw;
    left:53.25vw;
    position: absolute;
    top:5.4vw;
    z-index:2;
}

#geralddiv img{
    width: 14.2vw;
    left:5.4vw;
    position: absolute;
    top:42.7vw;
    z-index:2;
}

#comicdiv img{
    width: 13.7vw;
    left:54.4vw;
    position: absolute;
    top:42.6vw;
    z-index:2;
}